{% extends "base.html" %}

{% block title %}Editar Producto{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header"><h1 class="h3">Editar Producto</h1></div>
    <div class="card-body">
        <form action="{{ url_for('bp_productos.edit', id=producto.id) }}" method="POST">
            <div class="mb-3"><label class="form-label">Nombre:</label><input type="text" class="form-control" name="nombre" value="{{ producto.nombre }}" required></div>
            <div class="mb-3"><label class="form-label">Precio (Bs):</label><input type="number" step="0.01" class="form-control" name="precio" value="{{ producto.precio }}" required></div>
            <div class="mb-3"><label class="form-label">Stock:</label><input type="number" class="form-control" name="stock" value="{{ producto.stock }}" required></div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="{{ url_for('bp_productos.index') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}